/*Navbar opacity*/
.opacity {
  opacity: .5;
}

/*flexing cards*/
.center-cards {
  display: flex;
}
/*Centering the button on screen*/
.center-button {
  display: flex;
  justify-content: center;
}

/*Fix card sizing so all cards are the same*/
.all-card-size {
  min-height: 20rem;
  max-height: 20rem;
  min-width: 20rem;
  max-width: 20rem;
}

/*CSS for different days*/
/*CLEAR DAY*/
.clear-day {
  background-color: #44c7ff;
}

.clear-day .top-cards {
}

/*PARTLY CLOUDY DAY*/
.partly-cloudy-day {
  background-color: #a8e0ff;
}

.top-cards {
  background-color: #70cad1;
}

/*fixing tables in geoloc.js*/

/*.fix-table {
  display: flex;
  justify-content: center;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
